<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="metadataSupport">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TCPBinding" closeTimeout="00:45:00" openTimeout="00:45:00"
          receiveTimeout="00:45:00" sendTimeout="00:45:00">
          <reliableSession inactivityTimeout="01:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.0.0.1:8988/Game_Server/GameServerServices/"
        binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="GameServerServices.IGameServerServices"
        name="TCPBinding">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>