<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://10.0.0.1:8400/TexasHoldemDBWCF/TexasHoldemDBService/"
        binding="basicHttpBinding" bindingConfiguration="HttpBinding"
        contract="DBService.ITexasHoldemDB" name="HttpBinding" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="false" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metadataSupport" name="Game_Server.GameServerServices">
        <endpoint address="mex" binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TcpBinding"
          name="TCPBinding" bindingName="TcpBinding" bindingNamespace="net.tcp://10.0.0.1:8988/Game_Server/GameServerServices/"
          contract="Game_Server.IGameServerServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://10.0.0.1:8988/Game_Server/GameServerServices/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding" closeTimeout="00:45:00" openTimeout="00:45:00"
          receiveTimeout="00:45:00" sendTimeout="00:45:00" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="TcpBinding" closeTimeout="00:45:00" openTimeout="00:45:00"
          receiveTimeout="00:45:00" sendTimeout="00:45:00" maxConnections="0">
          <reliableSession inactivityTimeout="01:00:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
